{%- if config.custom_file_path or config.overwrite %}
{{ ansible_managed }}
{%- endif %}
{{ base_printer_cfg_raw.content | b64decode }}
{%- if config.extra_file %}
{% include config.extra_file %}
{%- endif %}

{%- if virtual_sdcard_path %}
# BEGIN {{ ansible_managed }}
[virtual_sdcard]
path: {{ virtual_sdcard_path }}
# END {{ ansible_managed }}
{%- endif %}