# {{ ansible_managed }}
[Unit]
Description=Starts klipper on startup
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User={{ common.user_config.username }}
Group={{ common.user_config.group }}

RemainAfterExit=yes

# create /var/run/klipper
RuntimeDirectory=klipper
WorkingDirectory={{ common.base_dir }}

ExecStart={{ common.base_dir }}/klipper/venv/bin/python {{ common.base_dir }}/klipper/repo/klippy/klippy.py {{ common.config_file }} -l {{ log_config.filename }} -a {{ uds_path }}
