# {{ ansible_managed }}
[Unit]
Description=API Server for Klipper SV1
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User={{ common.user_config.username }}
Group={{ common.user_config.group }}
RemainAfterExit=yes
WorkingDirectory={{ common.base_dir }}/moonraker/repo
ExecStart={{ common.base_dir }}/moonraker/venv/bin/python \
    {{ common.base_dir }}/moonraker/repo/moonraker/moonraker.py \
    -d {{ common.base_dir }}/data \
    -c {{ moonraker.config_file }} \
    -l {{ log_config.filename }}
Restart=always
RestartSec=10
